
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Rubik:wght@300&display=swap');
.btn-custom {
    background-color: #176B87;
    color: #fff; /* Color de texto blanco */
    margin-top: 10px; /* Ajusta el espacio superior del botón */
}

/* Estilo para el texto */
body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #000; /* Texto en color negro */
}

/* Estilo para subtitulos */
h2, .subtitulo {
    font-family: 'Rubik', sans-serif;
    font-weight: bold; /* Texto en negritas */
    font-size: 18px; /* Puedes ajustar el tamaño según el nivel del subtítulo */
    color: #000; /* Texto en color negro */
}

/* Estilo para titulos */
h1, .titulo {
    font-family: 'DM Serif Display', serif;
    font-size: 36px;
    color: #000; /* Texto en color negro */
}


/* Fondo y color del texto para las pestañas de navegación */
.nav.nav-tabs .nav-item .nav-link {
    background-color: #64CCC5; /* Fondo verde */
    color: #000; /* Texto en color negro */
    font-weight: bold; /* Texto en negritas */
}

/* Cambio de color del texto al pasar el mouse sobre las pestañas */
.nav.nav-tabs .nav-item .nav-link:hover {
    color: #000; /* Cambio de color del texto al pasar el mouse (negro) */
}
#recetaForm,
#crearCitaForm {
    background-color: #E4E4E4;
    padding: 20px;
}


/* Estilo para la segunda columna de expedientes */
.expedientes-column {
    background-color: #E4E4E4;
    padding: 15px; /* Espaciado interno para el contenido */
   
}

.cuadro-dialogo {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .opcion-especialidad {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }

  .opcion-especialidad img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }



.firma {
    text-align: center;
}

.indicaciones {
    text-align: center;
    color: #555; /* Color del texto */
}


